/* Overlay */
.create-user-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Card */
.create-user-card {
  width: 600px;
  background: white;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.18);
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.create-user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.create-user-header h2 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.close-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-field label {
  font-size: 12px;
  font-weight: 600;
  color: #6b7280;
  display: block;
  margin-bottom: 6px;
}

.form-field input,
.form-field select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0.05);
  font-size: 14px;
   color: #fff;
  transition: 0.2s;
}

.form-field input:focus,
.form-field select:focus, .form-field option {
  border-color: #facc15 !important;
  background: none;
  outline: none;
  color:  white  !important;

}


/* Buttons */
.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 12px;
}

.primary-btn {
  background: #facc15;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  /* border: none; */
  border-color: #facc15;
  cursor: pointer;
}

.secondary-btn {
  background: #cfa80c69 !important;
  color: #333;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.error-text {
  color: #dc2626;
  font-size: 12px;
  margin-top: 4px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  font-size: 16px;
  color: grey;
}